.iFrameInitial {
    display: none;
}

.iFrameFinal {
    display: block;
}

.loadingFinal {
    display: none !important;
}

.loser {
    color: gray;
    text-transform: capitalize;
}

.winner {
    color: black;
    text-transform: capitalize;
}

.future {
    color: black;
    text-transform: capitalize;
}

.loading-container {
    height: 180px;
}