.hero-nav-active {
    font-weight: bold;
    color: black;
}

.hero-nav-item {
    color: gray;
}

.hero-nav-item-switch {
    color: gray;
}

.hero-nav-item:hover, .hero-nav-item-switch:hover {
    color: black;
    text-decoration: none;
}

.hero-nav-active:hover {
    color: black;
}

.hero-nav-item:active, .hero-nav-item-switch:active {
    color: black;
}

.hero-nav-active:active {
    color: gray;
}

.hero-nav-container {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    .hero-nav-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .hero-nav-switch-li {
        margin: 8px 8px;
    }
}