.home-link {
    text-decoration: none !important;
}

.nav-link {
    margin: 0 0.5rem !important;
    cursor: default;
}

.dropdown-menu.team-dropdown {
    min-width: 55rem;
}

.dropdown-item.team-dropdown-item {
    padding: 0.25rem 0.25rem;
    text-transform: capitalize;
}