.main-date {
    border: none;
    text-align: left;
    cursor: pointer;
    max-width: 100px;
    margin-left: 4px;
    font-size: 24px;
    display: inline-flex;
}

.main-date:focus {
    outline: none;
}

.datepicker-calendar {
    right: 90px;
}