.standings-page-logo {
    height: 25px;
    width: auto;
    margin-bottom: 3px;
}

.standings-page-team-row {
    max-height: 33px;
    border-radius: 0 !important;
}

.standings-page-divider-row {
    max-height: 57px;
}

.standings-page-category-row {
    color: rgba(0, 0, 0, 0.54) !important;
    background-color: rgb(225, 225, 225) !important;
    border-radius: 0 !important;
}

.wildcard-page-conference-row {
    color: white !important;
    background-color: rgb(63,81,181) !important;
    margin-bottom: -1.5rem !important; 
}

.wildcard-end-row {
    border-bottom: black 4px solid !important;
}

.standings-page-team-link {
    color: black;
}

.standings-page-team-link:hover {
    color: black;
    text-decoration: none;
}

.standings-page-division-link {
    color: rgba(0, 0, 0, 0.54);
}

.standings-page-division-link:hover {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
}

.conference-standings-conference-link {
    color: rgba(0, 0, 0, 0.54);
}

.conference-standings-conference-link:hover {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
}

.standings-page-conference-link {
    color: white;
}

.standings-page-conference-link:hover {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 625px) {
    
    .standings-team-row-mobile {
        font-size: 1rem !important;
    }

    .standings-category-row-mobile {
        font-size: 1rem !important;
    }

    .standings-page-logo {
        height: 20px;
        width: auto;
        margin-bottom: 2px;
    }

    .standings-page-team-row {
        max-height: 26px;
    }

    .wildcard-end-row {
        border-bottom: black 3px solid !important;
    }
    
    .mobile-conference-row-text {
        font-size: 1rem !important;
    }

}